<?xml version="1.0" encoding="UTF-8"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">

    <persistence-unit name="gestionCatalogueTauxPU" transaction-type="JTA">
    <jta-data-source>BDCatalogueTaux</jta-data-source>
    </persistence-unit>


    <persistence-unit name="consulterTauxPU" transaction-type="JTA">
        <jta-data-source>BDCatalogueTaux</jta-data-source>
    </persistence-unit>

</persistence>
